<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sadaazureapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sadaazureapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <ResourceId>/subscriptions/090bb6f7-2a70-4896-b680-1a75d5205e69/resourceGroups/aa/providers/Microsoft.Web/sites/sadaAzureapi</ResourceId>
    <DeployIisAppPath>sadaAzureapi</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$sadaAzureapi</UserName>
    <_SavePWD>True</_SavePWD>
    <EnableMsDeployAppOffline>False</EnableMsDeployAppOffline>
  </PropertyGroup>
</Project>